.resume-container {
    padding: 2rem;
    border-radius: 8px;
    color: white;
    text-align: center;
    border: 1px solid #8c8989;
    font-weight: 600;
}

.download-link:hover { 
    color: #1591d8;
}