.project-container-main-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    justify-content: center;
}
.project-tile-item {
  flex: 300px;
}

@media (max-width: 767px) {
  .project-container-main-content {
    /* flex-wrap: wrap; */
  }
}
